/* Bright Mode */
body {
    color: var(--text-color); /* Ensure text color is always dark */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        color: var(--white);
    }

    .hero-content, .intro {
        color: var(--white);
    }
}
